/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@-webkit-keyframes pulse {
	0%		{opacity: 0.3;}
	50%		{opacity: 1;}
	100%	{opacity: 0.3;}
}
@keyframes pulse {
	0%		{opacity: 0.3;}
	50%		{opacity: 1;}
	100%	{opacity: 0.3;}
}

body {
	background-image: url("../img/sandpaper.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.content-box {
	background-color: #FFF;
	margin: 20px auto;
	width: 90%
}
header {
	background-color: #907A46;
	padding: 10px;
}

.logo {
	float: right;
	height: 60px;
	opacity: 0.7;
	-webkit-animation: pulse 5s infinite;
	animation: pulse 5s infinite;
}

.logo:hover {
	opacity: 1.0;
}

h1 {
	font-family: 'Cantora One', sans-serif;
	font-size: 200%;
	line-height: 60px;
	color: #EEEDEA;
}

figure {
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

figure:hover {
	box-shadow: 2px 2px 6px #555;

	-webkit-transform: scale(1.5) rotate(-5deg);
	-moz-transform: scale(1.5) rotate(-5deg);
	-o-transform: scale(1.5) rotate(-5deg);
	-ms-transform: scale(1.5) rotate(-5deg);
	transform: scale(1.5) rotate(-5deg);
}

figcaption {
	font-weight: 300;
	text-align: center;
	margin-top: 5px;
}

figure img {
	width: 200px;
	border: 10px solid #EEE;
	border-radius: 2px;
}